*{
    box-sizing: border-box;
}
.container{
    display: flex;
}
.information{
    margin-right: 20px;
}
.holder{
    margin: 10px;
}
.scoreboard{
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 50vh;
    width: 50vw;

    align-self: center;
    justify-self: center;
    gap: 15px;
}
.display{
    font-size: 2em;
}
.box{
    background-color: black;
    color: white;
    font-size: 8em;
    display: flex;

    justify-content: center;
    align-items: center;
    height: 30vh;
}